<li><label for="item_<%= attribute %>"><%= @resource[:class].human_attribute_name(attribute) %></label>
  <%#= debug(@item.inspect) %>
  <%#= debug(attribute) %>
  <%#= debug(@resource) %>
<%= text_area :item, attribute, :value => @item.send(attribute.to_sym), :class => 'text', :rows => @resource[:class].typus_options_for(:form_rows), :disabled => attribute_disabled?(attribute) %></li>

