<div>
  <h1 style="height: 370px; font-size: 50px; color: #555; text-align: center; padding: 50px;">
  <a href="/" title="перейти на главную">HTTP 500 <%= t('general.error_500.title') %></a></h1>
  <p class="c"><%= t('general.error_500.message') %>
  </p>
</div>
