<%= render :partial => '/admin/menu'%>
<h1>Написать письмо пользователям</h1>
<% form_for(:mail,:url => {:action => 'mail_send'}) do |f| %>
  <dl>
    <dt><b>Сообщение</b></dt>
    <dd> <%= f.text_area :message, :size => '50x10'%></dd>
    <dd> Тест: <%= f.check_box :test, {:checked => true} %></dd>
    <dd>
      <%= f.submit "Создать" %>
    </dd>
  </dl>
<% end %>
