<h1>О проекте</h1>
Много лет назад когда я был еще маленьким, меня испугала собака. Естественно последствия для детей вы знаете,
но моя прабабушка умела "выкачивать страх", и за один сеанс она меня вылечила.
Не могу сказать связан ли на 100 процентов этот случай с организацией и поддержкой этого ресурса или нет.
В наше время когда от большого количества препаратов рекламируемых по телевизору, начинаешь чувствовать себя по неволе немного больным.
<p>
Хотя прочитав хотя бы пару строе по противопоказаниям сразу видно что он нанесет больший урон чем помощь,
но в каменных джунглях вы не сможете найти и процента тех трав которые описаны на этом сайте.
Возможно он и не блещет дизайном или другими технологическим решениями, но при делании вы сможете найти то, что вас интересует.
</p>

Данная информация представлена в больше в справочных целях, чем как руководство к действию,
ведь принимать даже казалось бы самые безвредные травы надо тоже проконсультировавшись  с врачем, или очень в небольших дозах в целях профилактики.
<p>
Так как моя работа связана с компьютерами, то к вечеру уже наблюдается усталось в месяц
за месяцем в течении года это все выражается в раздражительности и других нежелательных симптомах поведения и самочувствия.
Но на днях попил пару дней чаю из перечной валерьяны и самочувствие изменилось, как в отпуск сходил.
</p>

<b>Так что не спешите принимать лекарства возможно вам просто надо выпить чаю  из трав :)</b>
