<h1> Про проект </h1>
Багато років тому коли я був ще маленьким, мене налякала собака. Природно наслідки для дітей ви знаєте,
але моя прабабуся вміла "викачувати страх", і за один сеанс вона мене вилікувала.
Не можу сказати чи пов'язаний на 100 відсотків цей випадок з організацією і підтримкою цього ресурсу чи ні.
У наш час коли від великої кількості препаратів рекламуються по телевізору, починаєш відчувати себе по неволі трохи хворим.
<div>
Хоча прочитавши хоча б пару ладі по протипоказанням відразу видно що він завдасть більшої шкоди ніж допомога,
але в кам'яних джунглях ви не зможете знайти й відсотка тих трав які описані на цьому сайті.
Можливо він і не вражає дизайном чи іншими технологічними рішеннями, але при укладення ви зможете знайти те, що вас цікавить.
</div>

Дана інформація представлена в більше в довідкових цілях, ніж як керівництво до дії,
адже приймати навіть здавалося б самі нешкідливі трави треба теж проконсультувавшись з лікарем, або дуже в невеликих дозах з метою профілактики.
<div>
Оскільки моя робота пов'язана з комп'ютерами, то до вечора вже спостерігається усталось на місяць
за місяцем протягом року це все виражається в дратівливості та інших небажаних симптоми поведінки і самопочуття.
Але днями пару днів попив чаю з перцевої валеріани і самопочуття змінилося, як у відпустку сходив.
</div>

<b> Так що не поспішайте приймати ліки можливо вам просто треба випити чаю з трав:) </b>



